/* This is so buttons and images don't get highlighted */
button, img {
	user-select: none;
}

/* Left this here still. I think it's better without, now... but up to you

.actionlog {
    height: 300px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

*/