button, img {
	user-select: none;
}

.weaponmenu {
    visibility: hidden;
}

/* OLD CSS:

.actionlog {
    height: 300px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

*/
